.wrapper{
    border-right: 2px solid grey;
    flex-basis: 10%;    
}

.choose{
    margin-left: 10px;
    padding: 7px;
    margin-bottom: 5px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.activeChoose{
    margin-left: 10px;
    padding: 7px;
    margin-bottom: 5px;
    border: 2px solid rgb(177, 0, 147);
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(214, 214, 214);
}

@media (max-width: 730px){
    .wrapper{
        border-right: none;      
        border-bottom: 2px solid grey;   
        display: flex;   
        margin-top: -20px;
        margin-bottom: 10px;
    }
    .choose{
        margin-left: 5px;
        padding: 3px;
        width: 65px;
        text-align: center;
        word-break: break-all;
    }
    .activeChoose{
        margin-left: 5px;
        padding: 3px;
        width: 65px;
        text-align: center;
        word-break: break-all;
    }
  }