.wrapperTextBlock{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: large;
    font-weight: 500;
}

.icon{
    cursor: pointer;
}

.textArea{
    min-width: 350px;
    font-size: large;
}

@media (max-width: 730px){
    .textArea{
        min-width: 270px;
    }  
  }
  